name: CI workhop
on: [push]
jobs:
  build:
    name: Build and Test C#
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Build C# code
      run: dotnet build
    - name: Run C# Tests
      run: dotnet test
      
    
      
      
      
